# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdf
*.gz
*.tex





debug/
build/
build-*/
.idea/
cmake-build-debug/
cmake-build-release/
docs/
!docs/
docs/*
!docs/clock_zone_simulation.md
!docs/clock_zone_simulation.tex
experiments/
include/gcn_rl_layout/results/
include/gcn_rl_layout/myenv/
__pycache__/
*.pyc
*_gcn_rl_layout/
